<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ServiTra</title>
    <link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-primary border-bottom box-shadow lg-3">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("ServiTra", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-link text-light" style="color:white !important;">
                        @Html.ActionLink("Privacy", "Privacy", "Home", new { style = "text-decoration:none; color:white" })
                    </li>
                    <li class="nav-link text-light">
                        @Html.ActionLink("Sobre Nosotros", "Sobrenosotros", "Home", new { style = "text-decoration:none; color:white" })
                    </li>
                    <li class="nav-link text-light">
                        @Html.ActionLink("Contactos", "Contactos", "Home", new { style = "text-decoration:none; color:white" })
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="border-top footer text-muted ">
            <div class="container">
                <center>
                    &copy; 2021 - ServiTra - <a asp-area="" asp-controller="Home" asp-action="sobrenosotros">Grupo 1</a>
                </center>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/lib/bootstrap/dist/css/bootstrap.min.css")
    @Scripts.Render("~/Content/js/site.js")
    @*@Styles.Render("~/Content/css/Site.css")*@
    @*<script src="~/Content/js/scripts.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>