@model WebApplication3.App_Data.Foro

@{
    ViewBag.Title = "Info Vacante";
}
<center style="padding-top: 10px ; color: #0d6efd">
    <img src="~/Content/img/bolso.png" />
    <h2>Detalles de la Vacante</h2>
</center>

<div>
    <button style="text-decoration:none">@Html.ActionLink("Regresar", null, null, null, new { href = Request.UrlReferrer })</button>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size: 22px ; color: #0d6efd">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd style="font-size: 20px; color: black">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt style="font-size: 22px ; color: #0d6efd">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd style="font-size: 20px; color: black">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt style="font-size: 22px ; color: #0d6efd">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd style="font-size: 20px; color: black">
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt style="font-size: 22px ; color: #0d6efd">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd style="font-size: 20px; color: black">
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt style="font-size: 22px ; color: #0d6efd">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd style="font-size: 20px; color: black">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt style="font-size: 22px ; color: #0d6efd">
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd style="font-size: 20px; color: black">
            <a href="@Html.DisplayFor(model => model.Url)">@Html.DisplayFor(model => model.Url)</a>
        </dd>
        
        <button><a href="mailto:@Html.DisplayFor(model => model.Correo_Compania)" style="text-decoration: none">Enviar Curriculum</a></button>
    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Foro }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
